{
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "minify": false,
        "pure": true,
        "TranspileTemplateLiterals": false,
        "fileName": false
      }
    ]
  ],
  "presets": ["@babel/react", "@babel/env"]
}